/** Arachne webzine **/

/* Webfonts*/

/** Autopia **/

@font-face {
    font-family: 'autopiabold';
    src: url('../fonts/autopia-bold-webfont.eot');
    src: url('../fonts/autopia-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/autopia-bold-webfont.woff2') format('woff2'),
         url('../fonts/autopia-bold-webfont.woff') format('woff'),
         url('../fonts/autopia-bold-webfont.ttf') format('truetype'),
         url('../fonts/autopia-bold-webfont.svg#autopiabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/** Liberation **/

@font-face {
    font-family: 'liberation_sansregular';
    src: url('../fonts/liberationsans-regular-webfont.eot');
    src: url('../fonts/liberationsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-regular-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-regular-webfont.woff') format('woff'),
         url('../fonts/liberationsans-regular-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-regular-webfont.svg#liberation_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansitalic';
    src: url('../fonts/liberationsans-italic-webfont.eot');
    src: url('../fonts/liberationsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-italic-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-italic-webfont.woff') format('woff'),
         url('../fonts/liberationsans-italic-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-italic-webfont.svg#liberation_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansbold';
    src: url('../fonts/liberationsans-bold-webfont.eot');
    src: url('../fonts/liberationsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-bold-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-bold-webfont.woff') format('woff'),
         url('../fonts/liberationsans-bold-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-bold-webfont.svg#liberation_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'liberation_sansbold_italic';
    src: url('../fonts/liberationsans-bolditalic-webfont.eot');
    src: url('../fonts/liberationsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/liberationsans-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/liberationsans-bolditalic-webfont.woff') format('woff'),
         url('../fonts/liberationsans-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/liberationsans-bolditalic-webfont.svg#liberation_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-family: 'liberation_sansbold';
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn, em {
  font-family: 'liberation_sansitalic';
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 1.7em;
  line-height: 1.25;
  margin: 0.6em 0;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 2em;
    margin: 0.9rem 0;
  }
}

h2 {
  font-size: 1.25em;
  line-height: 1.25;
  margin: 0.9rem 0;
}

@media screen and (min-width: 600px) {
  h2 {
    font-size: 1.5em;
    margin: 0.9rem 0;
  }
}

h3 {
  font-size: 1em;
  line-height: 1.45;
  margin: 0.75rem auto;
}

@media screen and (min-width: 600px) {
  h3 {
    font-size: 1.17em;
    margin: 1rem auto;
  }
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*! normalize.css ends */

/* + + + + */

/*@-webkit-keyframes pulse_bg {
  0% {background-color: #CCDBFC;}
  10% {background-color: #4343F3;}
  25% {background-color: #1111FF;}
  45% {background-color: #CF61DC;}
  70% {background-color: #F6F162;}
  85% {background-color: #70F589;}
  100% {background-color: #04AD7B;}
}*/

/*@-webkit-keyframes pulse_bg {
  0% {background-color: #DFD5FD;}
  25% {background-color: #0050F7;}
  50% {background-color: #F4B93D;}
  75% {background-color: #EA412C;}
  100% {background-color: #FFF549;}
}*/

@-webkit-keyframes pulse_bg {
  0% {background-color: #DFD5FD;}
  15% {background-color: #0050F7;}
  30% {background-color: #FFA131;}
  45% {background-color: #EA412C;}
  70% {background-color: #FFF549;}
  85% {background-color: #87FF78;}
  100% {background-color: #0D7052;}
}

/*@-moz-keyframes pulse_bg {
  0% {background-color: #CCDBFC;}
  10% {background-color: #4343F3;}
  25% {background-color: #1111FF;}
  45% {background-color: #CF61DC;}
  70% {background-color: #F6F162;}
  85% {background-color: #70F589;}
  100% {background-color: #04AD7B;}
}

@-o-keyframes pulse_bg {
  0% {background-color: #CCDBFC;}
  10% {background-color: #4343F3;}
  25% {background-color: #1111FF;}
  45% {background-color: #CF61DC;}
  70% {background-color: #F6F162;}
  85% {background-color: #70F589;}
  100% {background-color: #04AD7B;}
}

@keyframes pulse_bg {
  0% {background-color: #CCDBFC;}
  10% {background-color: #4343F3;}
  25% {background-color: #1111FF;}
  45% {background-color: #CF61DC;}
  70% {background-color: #F6F162;}
  85% {background-color: #70F589;}
  100% {background-color: #04AD7B;}
}*/

@-webkit-keyframes pulse_bd {
  0% {border-color: #CCDBFC;}
  10% {border-color: #4343F3;}
  25% {border-color: #1111FF;}
  45% {border-color: #CF61DC;}
  70% {border-color: #F6F162;}
  85% {border-color: #70F589;}
  100% {border-color: #04AD7B;}
}

@-moz-keyframes pulse_bd {
  0% {border-color: #CCDBFC;}
  10% {border-color: #4343F3;}
  25% {border-color: #1111FF;}
  45% {border-color: #CF61DC;}
  70% {border-color: #F6F162;}
  85% {border-color: #70F589;}
  100% {border-color: #04AD7B;}
}

@-o-keyframes pulse_bd {
  0% {border-color: #CCDBFC;}
  10% {border-color: #4343F3;}
  25% {border-color: #1111FF;}
  45% {border-color: #CF61DC;}
  70% {border-color: #F6F162;}
  85% {border-color: #70F589;}
  100% {border-color: #04AD7B;}
}

@keyframes pulse_bd {
  0% {border-color: #CCDBFC;}
  10% {border-color: #4343F3;}
  25% {border-color: #1111FF;}
  45% {border-color: #CF61DC;}
  70% {border-color: #F6F162;}
  85% {border-color: #70F589;}
  100% {border-color: #04AD7B;}
}



@-webkit-keyframes pulse_ty {
  0% {color: #CCDBFC;}
  10% {color: #4343F3;}
  25% {color: #1111FF;}
  45% {color: #CF61DC;}
  70% {color: #F6F162;}
  85% {color: #70F589;}
  100% {color: #04AD7B;}
}

@-moz-keyframes pulse_ty {
  0% {color: #CCDBFC;}
  10% {color: #4343F3;}
  25% {color: #1111FF;}
  45% {color: #CF61DC;}
  70% {color: #F6F162;}
  85% {color: #70F589;}
  100% {color: #04AD7B;}
}

@-o-keyframes pulse_ty {
  0% {color: #CCDBFC;}
  10% {color: #4343F3;}
  25% {color: #1111FF;}
  45% {color: #CF61DC;}
  70% {color: #F6F162;}
  85% {color: #70F589;}
  100% {color: #04AD7B;}
}

@keyframes pulse_ty {
  0% {color: #CCDBFC;}
  10% {color: #4343F3;}
  25% {color: #1111FF;}
  45% {color: #CF61DC;}
  70% {color: #F6F162;}
  85% {color: #70F589;}
  100% {color: #04AD7B;}
}

.border--all__flux {
  border: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

.border--top__flux {
  border-top: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

.border--right__flux {
  border-right: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

.border--bottom__flux {
  border-bottom: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

.border--right__flux {
  border-right: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

html, body {
  font-family: 'liberation_sansregular';
	font-size: 20px;
	line-height: 1.5;
  color: #222;
  background-color: #F8F8F8;
}

pre, code {
  font-family: 'liberation_sansregular';
  font-size: 20px;
  line-height: 1.5;
}

hr {
  border-top: 0.075rem solid #222;
  border-bottom: none;
  border-width: 0.075rem;
  margin: 3rem auto;
}

p {
  font-size: 1rem;
  margin: 0.9rem 0;
}

a {
  font-size: 1rem;
  color: #222;
  text-decoration: none;
  border-bottom: 0.05rem solid #222; 
}

a:hover {
  -webkit-animation: pulse_bg 0.25s infinite alternate;
  -moz-animation: pulse_bg 0.25s infinite alternate;
  -o-transition: pulse_bg 0.25s infinite alternate;
  transition: pulse_bg 0.25s infinite alternate;
  background-color: currentColor;
}

p, a, li {
  font-size: 85%;
}

p > a, li > a, li > p {
  font-size: 100%;
}

@media screen and (min-width: 600px) {
  p, a, li {
    font-size: 100%;
  }
}

img {
  width: 100%;
}

ul, ol, li {
  padding: 0;
}

ul {
  margin: 0.9rem 0;
}

ul > li {
  list-style: circle;
  margin: 0.45rem 0 0.45rem 1rem;
}

ol > li {
  list-style: decimal;
  margin: 0.45rem 0 0.45rem 1rem;
}

@media screen and (min-width: 600px) {
  ul > li, ol > li {
    margin: 0.45rem 0 0.45rem 1.5rem;
  }
}

li {
  margin: 0.45rem;
}

li p {
  margin: 0 auto;
}

.nav__info li {
  position: fixed;
  list-style: none;
  top: 0.45rem;
  margin: 0;
  padding: 0;
}

.nav__info li:first-child {
  left: 1.2rem;
}

.nav__info li:last-child {
  right: 1.2rem; 
}

@media screen and (min-width: 480px) {
  .nav__info li {
    top: 1.5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'liberation_sansbold';
}

h2:first-child {
  margin-top: 0;
}

h4 {
  line-height: 1.25;
}

blockquote {
  margin: 1rem 0;
  padding: 0.6rem 0.9rem;
  max-width: 80%;
  border: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

@media screen and (min-width: 600px) {
  blockquote {
    padding: 0.9rem 1.5rem;
  }
}

blockquote > p {
  margin: 0;
}

blockquote > p+p {
  margin: 0.9rem auto;
}

.keep-in-place__wrapper {
  padding: 0.5rem 1.5rem 4.5rem 1.5rem;
  -webkit-animation: pulse_bg 18s infinite alternate;
  -moz-animation: pulse_bg 18s infinite alternate;
  -o-transition: pulse_bg 18s infinite alternate;
  transition: pulse_bg 18s infinite alternate;
  background-color: #67FFA9;
}

@media screen and (min-width: 480px) {
  .keep-in-place__wrapper {
    padding: 2.1rem 3rem;
  }
}

.preview__wrapper {
	width: 100%;
	position: relative;
  margin: 0 auto;
}

.title__bg {
  text-align: center;
}

@media screen and (min-width: 600px) {
  .preview__wrapper {
    width: 100%;
    position: relative;
    margin: 0 auto;
    padding: 6rem 0;
  }

  .title__bg {
    width: 100%;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
  }
}

.title__bg h1 {
  font-family: "autopiabold";
  font-size: 3rem;
  color: #F8F8F8;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .title__bg h1 {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 600px) {
  .title__bg h1 {
    font-size: 6rem;
  }
}

@media screen and (min-width: 720px) {
  .title__bg h1 {
    font-size: 7.5rem;
  }
}

@media screen and (min-width: 800px) {
  .title__bg h1 {
    font-size: 9rem;
  }
}

.preview__element__wrapper {
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.preview__element {
  position: relative;
  display: inline-block;
  text-align: left;
  border: 0.05rem solid #222;
  margin: 0.3rem;
  padding: 0.45rem;
  width: 100%;
  list-style: none;
}

.preview__element a {
  display: block;
  border-bottom: none;
  padding: 0;
  font-size: 100%;
}

.preview__element a:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -o-transition: none;
  transition: none;
  background-color: transparent;
}

.preview__element:before {
  content: " ";
  padding-right: 0;
  margin-top: 0; 
}

.preview__element:hover {
  -moz-box-shadow: 0px 6px 6px 0px #222;
  -webkit-box-shadow: 0px 6px 6px 0px #222;
  box-shadow: 0px 6px 6px 0px #222;
  background-color: #F8F8F8;
  background-color: rgba(255, 255, 255, 0.15);
}

.preview__element h4 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .preview__element h4 {
    font-size: 85%;
  }
}

@media screen and (min-width: 760px) {
  .preview__element h4 {
    font-size: 100%;
  }
}

@media screen and (min-width: 480px) {
  .preview__element {
    width: 40%;
  }
}

@media screen and (min-width: 680px) {
  .preview__element {
    width: 27%;
  }
}

section {
  max-width: 39rem;
  margin: 0 1.5rem;
  padding: 1.5rem 0 3rem 0;
  border-bottom: 0.05rem solid #222;
}

section.preview__wrapper {
  padding: 0;
}

section.preview__wrapper h4 {
  display: block;
}

section:first-child, section:last-child {
  border: none;
}

@media screen and (min-width: 600px) {
  section {
    margin: 0 3rem;
    padding: 3rem 0;
  }
}

section h4 {
  display: inline-block;
  margin: 0.9rem 0 0 0;
}

.info--contributor__list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-content: flex-start;
  -moz-align-content: flex-start;
  -ms-align-content: flex-start;
  align-content: flex-start;
}

.info--contributor__list li {
  list-style: none;
  margin: 0 0 1.2rem 0;
}

@media screen and (min-width: 600px) {
  .info--contributor__list {
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .info--contributor__list li {
    width: 30%;
  }
}

.banner--block {
  margin: 0.9rem 0 0.9rem 0;
  padding: 2.4rem 1.5rem;
  text-align: center;
  border: 0.05rem solid #222;
}

@media scren and (min-width: 600px) {
  .banner--block {
    margin: 0.9rem 3rem 3rem 3rem;
  }
}

.title--serif {
  font-family: 'autopiabold';
  margin-top: 0; 
  -webkit-animation: pulse_ty 3s infinite alternate;
  -moz-animation: pulse_ty 3s infinite alternate;
  -o-transition: pulse_ty 3s infinite alternate;
  transition: pulse_ty 3s infinite alternate;
}

@media screen and (max-width: 340px) {
  .title--serif {
    font-size: 1.35rem;
  }
}

.banner--inline {
  margin: 3rem 0;
  padding: 0.9rem;
  text-align: center;
  border: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

@media scren and (min-width: 600px) {
  .banner--inline {
    padding: 0.9rem 1.5rem;
  }
}

.flattr {
  display: inline-block;
  border-bottom: none;
  padding: 0.15rem;
}

footer {
  margin: 0 auto;
  padding:  1.5rem;
  border-top: 0.05rem solid #222;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
}

.col-right p+p {
  margin: 1.8rem 0 0 0;
}

footer p {
  width: auto;
}

@media screen and (min-width: 999px) {
  footer {
    padding: 1.5rem 3rem;
    flex-direction: row;
  }

  footer .col-left, footer .col-right {
    width: 39%;
  }

  .col-right p+p {
    margin: 1.5rem 0 0 0;
  }
}

footer img {
  display: block;
  width: auto;
  margin: 0.3rem 0 0 0;
}

/* Essays */

nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: baseline;
  -moz-align-items: baseline;
  -ms-align-items: baseline;
  align-items: baseline;
  padding: 0.9rem;
  -webkit-animation: pulse_bg 18s infinite alternate;
  -moz-animation: pulse_bg 18s infinite alternate;
  -o-transition: pulse_bg 18s infinite alternate;
  transition: pulse_bg 18s infinite alternate;
  background-color: #67FFA9;
  border-bottom: 0.05rem solid #222;
}

@media screen and (min-width: 600px) {
  nav {
    padding: 0.9rem 3rem;
  }
}

.title__menu {
  font-family: "autopiabold";
  color: #F8F8F8;
  margin: 0;
  display: inline-block;
}

.essay__main--content {
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.essay__introduction {
  margin-bottom: 3.5rem;
}

.essay__micro-sections {
  margin: 0 0 0 1.5rem;
  font-weight: bold;
}

.essay__micro-sections+p {
  margin-top: 0;
}

.essay__main--content h1 {
  font-family: 'autopiabold';
}

.essay__main--content__author {
  margin-bottom: 2.4rem;
}

@media screen and (min-width: 600px) {
  .essay__main--content__author {
    margin-bottom: 3rem;
  }
}

.essay__main--content h2 {
  margin: 2.4rem 0 0 1rem;
}

@media screen and (min-width: 600px) {
  .essay__main--content h2 {
    margin: 3rem 0 0 1.5rem;
  }
}

/* roger-van-voorhees */

#roger-van-voorhees h2 {
  margin: 4.5rem 0 0 1rem;
}

#roger-van-voorhees h2:first-of-type {
  margin-top: 2.4rem;
}

@media screen and (min-width: 600px) {
  #roger-van-voorhees h2 {
    margin: 9rem 0 0 1.5rem;
  }

  #roger-van-voorhees h2:first-of-type {
    margin-top: 2.4rem;
  }
}

/* Nadia de Vries */

.nadia-de-vries__poem {
  padding: 25vh 0;
  height: 50vh;
}

.nadia-de-vries__poem h2 {
  margin: 0;
}

.nadia-de-vries__poem pre {
  white-space: pre-wrap;     
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap;  
  word-wrap: break-word;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.nadia-de-vries__essay__main--content {
  width: 80%;
  z-index: 2;
}

.nadia-de-vries__audio-player--container {
  position: fixed;
  top: 6rem;
  left: 0;
  width: 80%;
  height: 100%;
  z-index: 1;
}

@media and screen (min-width: 500px) {
  .nadia-de-vries__audio-player--container {
    position: fixed;
    top: 6rem;
    right: 0.6rem;
    /*width: 17.6%;*/
    height: 100%;
  }
}

.nadia-de-vries__audio-player--wrapper {
  height: 100%;
  position: absolute;
  top: 2rem;
  right: 0px;
  left: 0px;
}

.nadia-de-vries__button__audio-player {
  width: 6.4rem;
  background-color: transparent;
  border: 0.075rem solid #222;
  position: absolute;
  top: -2rem;
  right: 0;
}

.nadia-de-vries__button__audio-player:focus {
  outline: transparent;
}

#waveform {
  display: none;
}

@media and screen (min-width: 500px) {
  #waveform {
    display: block;
    transform: translateX(100%) rotate(90deg);
    transform-origin: top left;
  }
}

/* Adrienne Herr */

.namesakes__poems-wrapper {
  margin: 3rem 0;
  padding: 0.6rem 0.9rem;
}

.scroll--vertical {
  flex-flow: row wrap;
  justify-content: space-between;
  height: 9rem;
  overflow-x: auto;
}

.scroll--horizontal {
  flex-flow: nowrap;
  justify-content: space-between;
  overflow-x: auto;
}

.scroll--horizontal-only {
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto; 
}

.namesakes__poem-element--horizontal--only {
  padding: 1.5rem 3rem;
  margin: 0 7.5rem;
  text-align: center;
  border: 5px inset #bc8f8f;
}

.namesakes__poem-element--vertical {
  width: 100%;
  margin: 3rem 0;
  text-align: center;
}

.namesakes__poem-element--horizontal {
  padding: 0 6rem;
  text-align: center;
}

@media screen and (min-width: 500px) {
  .scroll--vertical {
    width: 50%;
    height: 9rem;
  }

  .scroll--horizontal {
    width: 50%;
  }

  .namesakes__poems__margin-left {
    margin-left: 50%;
  }
}


/* * * */

figure.essay {
  display: inline-block;
  margin: 1rem 0 0 0;
  padding: 0.6rem 0.9rem;
  border: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

@media screen and (min-width: 600px) {
  figure.essay {
    padding: 0.9rem 1.5rem;
  }
}

.embed__essay {
  margin: 1rem 0 0 0;
  padding: 0.6rem 0.9rem;
  border: 0.05rem solid #04AD7B;
  -webkit-animation: pulse_bd 3s infinite alternate;
  -moz-animation: pulse_bd 3s infinite alternate;
  -o-transition: pulse_bd 3s infinite alternate;
  transition: pulse_bd 3s infinite alternate;
}

.embed-container {
  position: relative; 
  padding-bottom: 56.25%; 
  margin-bottom: 0.5rem;
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, 
.embed-container object, 
.embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}

@media screen and (min-width: 600px) {
  .embed__essay {
    padding: 0.9rem 1.5rem;
  }
}

figcaption p, .embed__essay p {
  margin: 0;
}

.fancybox {
  cursor: zoom-in;
  border-bottom: none;
}

.fancybox-close {
  border-bottom: none;
}

.fancybox-nav:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -o-transition: none;
  transition: none;
  background-color: transparent;
}

.fancybox-nav span:hover {
  -webkit-animation: pulse_bg 0.25s infinite alternate;
  -moz-animation: pulse_bg 0.25s infinite alternate;
  -o-transition: pulse_bg 0.25s infinite alternate;
  transition: pulse_bg 0.25s infinite alternate;
  background-color: currentColor;
}

.essay__main--content h3+ol {
  margin-top: 0;
}

.essay__main--content blockquote.sidebox {
  border-radius: 9px;
}

@media screen and (min-width: 540px) {
  .essay__main--content p.sidebox, .essay__main--content ol.sidebox  {
    width: 50%;
  }

  .essay__main--content blockquote.sidebox {
    width: 25%;
    margin: 0.9rem 0 0.9rem 10%;
  }
}

@media screen and (min-width: 800px) {
  .essay__main--content p.sidebox, .essay__main--content ol.sidebox  {
    width: 60%;
  }

  .essay__main--content blockquote.sidebox {
    width: 30%;
    margin-left: 0;
  }
}

.essay__main--content blockquote+p {
  margin: 0 0 1.8rem 0;
}

sup {
  margin: 0 0 0 0.15rem;
}

.footnotes {
  border-top: 0.05rem solid #222;
  margin: 2.4rem 0 0 0;
}

.contributor--info {
  border-top: 0.05rem solid #222;
  margin: 2.4rem 0 0 0;
  padding: 1.5rem 0 0 0;
}

.contributor--info__name {
  font-style: normal;
  font-weight: bold; 
}

.nav__index {
  display: inline-block;
  margin: 3rem 0 0 0;
}

/* Archive */

.archive--button {
  display: inline-block;
}